<!DOCTYPE html>
<html 
    lang = "en"
    xmlns = "http://www.w3.org/1999/xhtml"
    xmlns:th = "http://www.thymeleaf.org"
    xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator = "layout"
>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>セミナー一覧 - INTERTECH SEMINAR</title>
		<!-- CSS FILES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" 
                               th:href="@{https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css}">
		<link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
		<link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">
	</head>
	<body>

		<!--HEADER-->
		<div th:replace="util :: header(displayName='Seminar List')"></div>
		<!--/HEADER-->

		<!-- LEFT BAR -->
		<div th:replace="util :: leftBar()"></div>
		<!-- /LEFT BAR -->

		<!-- CONTENT -->
		<div id="content" data-uk-height-viewport="expand: true">
			<div class="uk-container uk-container-expand">
				<hr>
				<div class="uk-grid uk-grid-medium" data-uk-grid>				
					<!-- panel -->
					<div class="uk-width-1-1@l">
						<div class="uk-card uk-card-default uk-card-small">
							<div class="uk-card-header">
								<div class="uk-grid uk-grid-small">
									<div class="uk-width-auto"><h4>All seminar</h4></div>
									<div class="uk-width-expand uk-text-right panel-icons">
										<a onclick=addSeminar(); class="uk-icon-link" title="Add seminar" ratio=1.5 data-uk-tooltip data-uk-icon="icon: plus"></a>
									</div>
								</div>
							</div>
							<div class="uk-card-body">
                                <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                                    <thead>
                                        <tr>
                                            <th><input class="uk-checkbox" type="checkbox"></th>
											<th>Title</th>
											<th>EVENT DATETIME</th>
											<th>Number Of Guest</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="seminar : ${seminarList}">
											<input type="hidden" name="seminarId" th:value="${seminar.seminarId}" />
                                            <td><input class="uk-checkbox" type="checkbox"></td>
											<td><a th:text="${seminar.title}" th:href="@{'/admin/seminardetails/' + ${seminar.seminarId}}">第97回 開発技術セミナー</a></td>
											<td th:text="${seminar.eventDate}+'  '+${seminar.startedTime}+'〜'+${seminar.closedTime}">2018年10月10日 18:00～19:00</td>
											<td th:text="${seminar.numberOfGuest}">10</td>
                                            <div th:switch="${seminar.acceptingFlag}">
                                                <td th:case="0"><span class="uk-label uk-label-danger">終　了</span></td>
                                                <td th:case="1"><span class="uk-label uk-label-success">受付中</span></td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						</div>
                    </div>
                    <!-- <div class="uk-width-1-1@l">
						<div class="uk-card uk-card-default uk-card-small">
							<div class="uk-card-header">
								<div class="uk-grid uk-grid-small">
									<div class="uk-width-auto"><h4>Details</h4></div>
									<div class="uk-width-expand uk-text-right panel-icons">
										<a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
									</div>
								</div>
							</div>
							<div class="uk-card-body">
                                <div id="seminarDetails">
								</div>							
                            </div>
						</div>
					</div> -->
				</div>
				<footer class="uk-section uk-section-small uk-text-center">
					<!-- <hr>
					<p class="uk-text-small uk-text-center">Copyright 2019 - <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> </p> -->
				</footer>
			</div>
		</div>
		<!-- /CONTENT -->
		<!-- OFFCANVAS -->
		<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
			<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
				<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
				<ul class="uk-nav uk-nav-default">
					<li class="uk-active"><a href="#">Active</a></li>
					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="#">Sub item</a></li>
							<li><a href="#">Sub item</a></li>
						</ul>
					</li>
					<li class="uk-nav-header">Header</li>
					<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
				</ul>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<!-- /OFFCANVAS -->
		
		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		<script src="/js/chartScripts.js" th:src="@{/js/chartScripts.js}"></script>
		<script src="/js/seminar.js" th:src="@{/js/seminar.js}"></script>
		<script src="/js/modal.js" th:src="@{/js/modal.js}"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>
