<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title>MyPage</title>
        <link rel="stylesheet" href="../../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
        <script src="../../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
        <script src="../../static/js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>    
    </head>
    <body>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
        
                <a class="uk-navbar-item uk-logo" href="#">INTERTECH SEMINAR</a>
            </div>      　　　　　
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                        <div>小柳 匠平さん</div>
                </div>

                <div class="uk-navbar-item">
                    <button class="uk-button uk-button-default">ログアウト</button>
                </div>
            </div>           
        </nav>
    
        <div class="uk-container uk-width-XXlarge uk-margin-large">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h5>お知らせ</h5>
                </div>
                <div class="uk-card-body">
                    <ul>
                        <li>
                            第99回開発技術セミナーの参加受付を開始しました (2019/4/1)
                        </li>
                        <li>
                            第98回開発技術セミナーのセッション資料及び動画を公開しました (2019/3/15)
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="">
            <div class="uk-flex uk-flex-center">
                <a class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-container" uk-icon="icon: sign-in; ratio: 3.0"></div>
                    <h4 class="uk-text-center">参加申込</h4>
                </a>
                <a class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-left" placeholder="disabled">
                    <div class="uk-container" uk-icon="icon: pencil; ratio: 3.0"></div>
                    <h4 class="uk-text-center">アンケート回答</h4>
                </a>
                <a class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-left">
                    <span class="uk-container" uk-icon="icon: history; ratio: 3.0"></span>
                    <h4 class="uk-text-center">参加履歴</h4>
                </a>    
            </div>
        </div>

    </body>
</html>