<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title>MyPage</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" 
                               th:href="@{https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css}">
		<link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    </head>
    <body id="content">

        <!--HEADER-->
		<div th:replace="util :: header(displayName='MyPage')"></div>
		<!--/HEADER-->

		<!-- LEFT BAR -->
		<div th:replace="util :: leftBar()"></div>
		<!-- /LEFT BAR -->

        <!-- CONTENTS -->
        <div data-uk-height-viewport="expand: true">

            <div class="uk-flex uk-flex-center uk-margin-large">       
                <div class="uk-card uk-card-default uk-width-3-4">
                    <div class="uk-card-header">
                        <h5>お知らせ</h5>
                    </div>
                    <div class="uk-card-body">
                        <ul>
                            <li>
                                第99回開発技術セミナーの参加受付を開始しました (2019/4/1)
                            </li>
                            <li>
                                第98回開発技術セミナーのセッション資料及び動画を公開しました (2019/3/15)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="uk-flex uk-flex-center">        
                <a onclick="entryModal()" class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-container" uk-icon="icon: check; ratio: 3.0"></div>
                    <h4 class="uk-text-center">参加申込</h4>
                </a>
                <a onclick="notification()" class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-large-left">
                    <div class="uk-container" uk-icon="icon: pencil; ratio: 3.0"></div>
                    <h4 class="uk-text-center">アンケート回答</h4>
                </a>
                <a onclick="notification()" class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-large-left">
                    <span class="uk-container" uk-icon="icon: history; ratio: 3.0"></span>
                    <h4 class="uk-text-center">参加履歴</h4>
                </a>
            </div>
        </div>
        <!-- /CONTENTS -->

        <!-- JS FILES -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		<script src="/js/chartScripts.js" th:src="@{/js/chartScripts.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../../static/js/modal.js" th:src="@{/js/modal.js}"></script>
    </body>
</html>