<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="../../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
        <script src="../../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
        <script src="../../static/js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
        
                <a class="uk-navbar-item uk-logo" href="#">INTERTECH SEMINAR</a>
            </div>      　　　　　
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                        <div>小柳 匠平さん</div>
                </div>

                <div class="uk-navbar-item">
                    <button class="uk-button uk-button-default">ログアウト</button>
                </div>
            </div>           
        </nav>
    
        <div class="uk-container uk-width-1-2 uk-margin-large">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h5>お知らせ</h5>
                </div>
                <div class="uk-card-body">
                    <ul>
                        <li>
                            第99回開発技術セミナーの参加受付を開始しました (2019/4/1)
                        </li>
                        <li>
                            第98回開発技術セミナーのセッション資料及び動画を公開しました (2019/3/15)
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="app" class="uk-flex uk-flex-center">
            <a v-on:click="modalOn" class="uk-card uk-card-default uk-card-hover uk-card-body">
                <div class="uk-container" uk-icon="icon: sign-out; ratio: 3.0"></div>
                <h4 class="uk-text-center">参加申込</h4>
            </a>
            <a class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-left">
                <div class="uk-container" uk-icon="icon: pencil; ratio: 3.0"></div>
                <h4 class="uk-text-center">アンケート回答</h4>
            </a>
            <a class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-left">
                <span class="uk-container" uk-icon="icon: history; ratio: 3.0"></span>
                <h4 class="uk-text-center">参加履歴</h4>
            </a>
        </div>
        
        <script>
            const app = new Vue({
                el:'#app',
                data:{
                    isTest: true,
                    seminarInfo:[]
                },
                methods:{
                    modalOn: function() {
                        axios
                            .get("http://localhost:8080/srms/mypage/getseminar")
                            .then(response => {
                                const element =  '<div uk-modal>'+
                                                    '<div class="uk-modal-dialog">'+
                                                        '<button class="uk-modal-close-default" type="button" uk-close></button>'+
                                                        '<div class="uk-modal-header">'+
                                                            '<h4>'+response.data.title+'</h4>'+
                                                        '</div>'+
                                                        '<div class="uk-modal-body">'+
                                                            '<p>'+response.data.overview+'</p>'+
                                                        '</div>'+
                                                        '<div class="uk-modal-footer uk-text-right">'+
                                                            '<button class="uk-button uk-button-primary" type="button">申し込む</button>'+
                                                            '<button class="uk-button uk-button-danger" type="button">申込取消</button>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'
                                UIkit.modal(element).show();})

                            .catch(error => {
                                UIkit.modal.alert('取得失敗!')
                            });
                    }
                }
            })
        </script>
    </body>
</html>