<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
<head>
    <title>管理者:メニュー</title>
    <link rel="stylesheet" href="../../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
    <script src="../../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
    <script src="../../static/js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>
</head>
<body>
        <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                            <div class="uk-width-1-1@m">
                                <div th:object="${seminar}" class="uk-margin uk-width-auto uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                    <article class="uk-article">
                                        <h1 th:text="*{title}"class="uk-article-title">第99回 開発技術セミナー 〜SpringBoot特集〜</h1>                                   
                                        <p th:text="*{created_at}" class="uk-article-meta">Written on 12 April 2012.</p>                                   
                                        <p th:text="*{overview}">今年1発目となる第17回 開発技術セミナーの開催日程が決まりましたので、ご案内いたします！！<br><br>今回テーマを決めるにあたり、<br><br>ロシア出張の報告もしたいし、、、<br>機械学習を活用した実証実験も絶対おもしろいし、、、<br>実案件でのブロックチェーンの話も興味深いし、、、<br><br>という感じで、お届けしたい(おもしろい)内容がたくさんありまして、<br>悩んだ結果、もう今回は特別に3テーマをぎゅっと盛り込みます！！<br><br>ITエンジニアとしては、興味を惹く内容ばかりだと思いますので、<br>是非足を運んでいただけると幸いです。</p>     
                                        <button th:href="@{/index/form}" class="uk-button uk-button-primary uk-button-large uk-align-center uk-width-1-4">参加申込</button>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</body>
</html>