<!DOCTYPE html>
<html 
    lang = "en"
    xmlns = "http://www.w3.org/1999/xhtml"
    xmlns:th = "http://www.thymeleaf.org"
    xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator = "layout"
>
	<head>
		<!-- CSS FILES -->
		<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css}">
		<link rel="stylesheet" href="/css/dashboard.css" th:href="@{/css/dashboard.css}">
	</head>
	<body>

        <!--HEADER-->
        <div th:fragment="header(displayName)">
            <header id="top-head" class="uk-position-fixed">
                <div class="uk-container uk-container-expand uk-background-primary">
                    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
                        <div class="uk-navbar-left">
                            <div class="uk-navbar-item uk-hidden@m">
                                <a class="uk-logo" href="#"><img class="custom-logo" th:src="@{/img/dashboard-logo-white.svg}" src="/img/dashboard-logo-white.svg" alt=""></a>
                            </div>
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li class="uk-margin-top"><h5 th:text="${displayName}">Dashboard</h5></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav">
                                <li><a href="#" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
                                <li><a th:href="@{'/index/logout'}" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <!--/HEADER-->

        <!-- LEFT BAR -->
        <div th:fragment="leftBar()">
            <aside id="left-col" class="uk-light uk-visible@m">
                <div class="left-logo uk-flex uk-flex-middle uk-text-center">
                    <div class="uk-margin-left">INTERTECH SEMINAR</div>
                </div>
                <div class="left-content-box  content-box-dark">
                    <img src="/img/avatar.svg" th:src="@{/img/avatar.svg}" alt="" class="uk-border-circle profile-img">
                    <h4 class="uk-text-center uk-margin-remove-vertical text-light">小柳 匠平</h4>
                    
                    <div class="uk-position-relative uk-text-center uk-display-block">
                        <div href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center">Admin</div>
                    </div>
                </div>
                
                <div class="left-nav-wrap">
                    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
                        <li class="uk-nav-header">ADMIN ACTIONS</li>
                        <li><a href="#"><span data-uk-icon="icon: comments" class="uk-margin-small-right"></span>【工事中】お知らせ</a></li>
                        <li><a href="#"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>【工事中】アカウント</a></li>
                        <li><a th:href="@{'/admin/seminarlist'}"><span data-uk-icon="icon: file-text" class="uk-margin-small-right"></span>セミナー</a></li>
                        <li><a href="#"><span data-uk-icon="icon: lifesaver" class="uk-margin-small-right"></span>【工事中】Tips</a></li>
                    </ul>				
                </div>
                <div class="bar-bottom">
                    <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
                        <li>
                            <a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
                        </li>
                        <li>
                            <a href="#" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a>
                        </li>
                        <li>
                            <a href="#" class="uk-icon-link" data-uk-icon="icon: social"  title="Social" data-uk-tooltip></a>
                        </li>
                        
                        <li>
                            <a href="#" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <!-- /LEFT BAR -->
        
        
		<!-- JS FILES -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		<script src="/js/chartScripts.js" th:src="@{/js/chartScripts.js}"></script>
	</body>
</html>
