<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
<head>
    <title>参加申込</title>
    <link rel="stylesheet" href="../../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
    <script src="../../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
    <script src="../../static/js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>
</head>
<body>
<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center">参加申込 完了</h3>
                        <div class="uk-margin uk-text-small uk-text-center">
                            以下の内容で参加を受け付けました。
                        </div>
                        <div th:object="${entryContents}">
                            <div class="uk-margin">
                                <div class="uk-width-1-1 uk-text-center">
                                    <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                                    <div class="uk-inline" th:text="*{mail_address}">dev@dev.co.jp</div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1 uk-text-center">
                                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                                    <div class="uk-inline" th:text="*{name}">山田 太郎</div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{'/index'}" class="uk-text-center uk-margin uk-align-center uk-button-small uk-button-default uk-width-1-3">トップへ戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
