<html
        xmlns        = "http://www.w3.org/1999/xhtml"
        xmlns:th     = "http://www.thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
<head>
    <title>参加申込</title>
    <link rel="stylesheet" href="../../static/css/uikit.min.css" th:href="@{/css/uikit.min.css}">
    <script src="../../static/js/uikit.min.js" th:src="@{/js/uikit.min.js}"></script>
    <script src="../../static/js/uikit-icons.min.js" th:src="@{/js/uikit-icons.min.js}"></script>
</head>
<body>
        <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
            <div class="uk-width-1-1">
                <div th:object="${seminar}" class="uk-margin uk-width-1-2 uk-margin-auto uk-card uk-card-large uk-card-default uk-card-body uk-box-shadow-large">
                        <div class="uk-card-header">
                            <h3 th:text="*{title}" class="uk-card-title">第99回開発技術セミナー 〜SpringBootで作ったよ特集〜</h3>
                            <p class="uk-align-left">[日時] 2019/12/15 18:00</p>
                            <p class="uk-align-left">[場所] 3階 ホール3</p>
                        </div>
                        <div th:text="*{overview}" class="uk-card-body">
                            今年1発目となる第17回 開発技術セミナーの開催日程が決まりましたので、<br>ご案内いたします！！<br><br>今回テーマを決めるにあたり、<br><br>ロシア出張の報告もしたいし、、、<br>機械学習を活用した実証実験も絶対おもしろいし、、、<br>実案件でのブロックチェーンの話も興味深いし、、、<br><br>という感じで、お届けしたい(おもしろい)内容がたくさんありまして、<br>悩んだ結果、もう今回は特別に3テーマをぎゅっと盛り込みます！！<br><br>ITエンジニアとしては、興味を惹く内容ばかりだと思いますので、<br>是非足を運んでいただけると幸いです。
                        </div>
                        <div class="uk-card-footer">
                            <h3 class="uk-card-title">プログラム</h3>
                            <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>時間</th>
                                            <th>内容</th>
                                            <th>講演者</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>18:00〜18:05</td>
                                            <td>はじめに</td>
                                            <td>西野 司</td>
                                        </tr>
                                        <tr>
                                            <td>18:05〜18:35</td>
                                            <td>ハリーポッターとSpringBootの原理</td>
                                            <td>大野川 雅彦</td>
                                        </tr>
                                        <tr>
                                            <td>18:05〜18:35</td>
                                            <td>ハリーポッターとテスト駆動開発の豆知識</td>
                                            <td>北 満</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
    
                        <div class="uk-card-footer">
                            <h3 class="uk-card-title">参加申込</h3>
                            事前質問
                            <input class="uk-margin-small uk-input" type="text" placeholder="事前に質問しておきたいこと">
                            <button th:href="@{'/entry'}" class="uk-align-center uk-button uk-button-primary uk-button-large">参加する</button>
                        </div>
                </div>
            </div>
        </div>
</body>
</html>